.popup__content {
  width: 430px;
  padding: 34px 36px 37px;
  margin: 0;
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

@media screen and (max-width: 714px) {
  .popup__content {
    width: 282px;
    padding: 25px 22px;
  }
}
