.header__logo {
  max-width: 142px;
  margin-bottom: 38px;
}

@media screen and (max-width: 714px){
  .header__logo {
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 425px){
  .header__logo {
    max-width: 104px;
    margin-left: 27px;
  }
}
