.profile__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: profile__subtitle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 714px) {
  .profile__subtitle {
    margin-left: 45px;
  }
}

@media screen and (max-width: 550px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-left: 15px;
  }
}
