.profile__title {
  position: relative;
  /*margin: 30px 0 0;*/
  /*padding: 0 42px 0 0;*/
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: profile__title;

}

@media screen and (max-width: 550px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}
