.gallery__items {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  grid-auto-rows: 1fr;
  padding: 0;
  list-style: none;
  justify-content: center;
}


