.profile__add-button {
  display: block;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #000000;
  align-self: center;
  cursor: pointer;
}

.profile__add-button:before {
  content: url("../../../images/add-button-plus.svg");
}

.profile__add-button:hover {
  opacity: 0.6;
}
