.profile__add-button {
  display: block;
  width: 150px;
  height: 50px;
  align-self: center;
  cursor: pointer;
  flex-grow: inherit;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #000000;
}

.profile__add-button:before {
  content: url("../../../vendor/images/add-button-plus.svg");
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 915px) {
  .profile__add-button {
    width: 50px;
  }
}

@media screen and (max-width: 714px) {
  .profile__add-button {
    width: 282px;
    margin: 34px 0 0;
  }

  .profile__add-button:before {
    content: url("../../../vendor/images/add-button-plus-mobile.svg");
  }
}
