.gallery__subscription {
  display: flex;
  justify-content: space-between;
  /*max-width: 282px;*/
  margin: 0;
  padding: 25px 21px;
  background-color: #ffffff;
  grid-area: gallery__subscription;
  border-radius: 0 0 10px 10px;
  align-items: center;
}
