.popup__input {
  width: 100%;
  padding: 12px 0 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-bottom: 5px;
}

.popup__input:last-child {
  margin-bottom: 0;
}

.popup__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #C4C4C4;
}

.popup__input::-webkit-input-placeholder {
  color: #C4C4C4;
  opacity: 1;
}

.popup__input::-moz-placeholder {
  color: #C4C4C4;
  opacity: 1;
}

.popup__input::-ms-input-placeholder {
  color: #C4C4C4;
  opacity: 1;
}
