.popup__item {
  width: 100%;
  padding: 26px 0 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-bottom: 1px;
}

.popup__item::placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #C4C4C4;
}

.popup__item::-webkit-input-placeholder {
  color: #C4C4C4;
  opacity: 1;
}

.popup__item::-moz-placeholder {
  color: #C4C4C4;
  opacity: 1;
}

.popup__item::-ms-input-placeholder {
  color: #C4C4C4;
  opacity: 1;
}
